<h1>{{ title }}</h1>
<label for="">Password Length</label>
<input (input)="getLength(passwordLength.value)" type="text" #passwordLength />

<div>
  <input (change)="includesLetters()" type="checkbox" name="" id="" />
  <label for="">Use Letters</label>
  <input (change)="includesNumbers()" type="checkbox" name="" id="" />
  <label for="">Use Numbers</label>
  <input (change)="includesSymbols()" type="checkbox" name="" id="" />
  <label for="">Use Symbols</label>
</div>

<div>
  <button
    [disabled]="
      !(passwordLength.value && (useLetters || useNumbers || useSymbols))
    "
    (click)="onSubmit()"
  >
    Generate Password
  </button>
</div>
<hr />
<div *ngIf="password">
  <label for="">Generated Password</label>
  <input type="text" [value]="password" />
</div>
